*{
    margin:0;
    padding:0;
}

body{
    min-width: 1900px;
    max-width: 1900px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul {
    position: relative;
    width:200px;
    height:200px;
    transform-style: preserve-3d;
    margin: 100px auto;
    animation: run 5s infinite linear;
}

li {
    list-style: none;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
}

li:first-child {
    background-image: url("./image/喵帕斯1.jpg");
    background-size: cover;
    transform: translateZ(100px);

}

li:nth-child(2) {
    background-image: url("./image/喵帕斯1.jpg");
    background-size: cover;
    transform: translateY(-100px) rotateX(90deg);
}

li:nth-child(3) {
    background-image: url("./image/喵帕斯1.jpg");
    background-size: cover;
    transform: translateY(100px) rotateX(90deg);
}

li:nth-child(4) {
    background-image: url("./image/喵帕斯1.jpg");
    background-size: cover;
    transform: translateX(-100px) rotateY(90deg);
}

li:nth-child(5) {
    background-image: url("./image/喵帕斯1.jpg");
    background-size: cover;
    transform: translateX(100px) rotateY(90deg);
}

li:nth-child(6) {
    background-image: url("./image/喵帕斯1.jpg");
    background-size: cover;
    transform: translateZ(-100px);
}

@keyframes run {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.a{
    display: flex;
    justify-content:center;
    background-color: #ff7b0025;
    height:1200px;  
    width:1900px;
}

.a1{
    flex-wrap: wrap;
    width: 500px;
    height: 800px;
    /* border: 1px solid red; */
    margin-left: 80px;
}

.a2{
    flex-wrap: wrap;
    width: 500px;
    height: 800px;
    /* border: 1px solid red; */
    margin-left: 380px;
}

.a1-1{
    display: flex;
    justify-content:center;
}

.a1-1 div{
    width: 80px;
    height: 80px; 
}


.snow{
    background: white;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

html, body {
    width: 100%;
    margin: 0;
    padding: .2rem 0 0 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Heebo', sans-serif;
  }
  
  p {
    margin: 0;
    padding: 0;
    font-size: 7rem;
    line-height: 1;
    letter-spacing: .3rem;
    color: #253057;
  }
  p.desc {
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: .2rem;
    opacity: 0;
    transition: 2s 1.5s;
  }
  
  @media screen and (max-width: 450px) {
    p {
      font-size: 3rem;
    }
    p.desc {
      font-size: .5rem;
    }
  }
  .ex1 {
    opacity: 0;
    perspective: 200px;
  }
  .ex1 span {
    transform: rotateY(-90deg);
    opacity: 0;
  }
  
  .ex2 {
    opacity: 0;
    perspective: 200px;
  }
  .ex2 span {
    transform: rotateY(-90deg) rotateX(45deg);
    transform-origin: -50% 75%;
    opacity: 0;
  }
  

